h1 {
  text-align: center;
  color: white;
  font-family: 'Tangerine';
}
body {
  background-image: url("http://www.pulauluxurycharters.com/images/galleries/surf/pulau_luxury_charters_surf_e.jpg");
}

h2 {
  font-family: 'cyrillic';
}